/* ani_4ballSpin
  @authers - Michael Thomas
*/

.ani_4ballSpin { /*background:#000000;*/ width:80px; height:80px;}

.ani_4ballSpin { position: relative; margin:0px auto; padding:10px;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.ani_4ballSpin .ball { position: absolute; box-shadow:0px 0px 1px 0px #000000;}

/* The animation code */
@keyframes ball1 {
    0%   { top:15%; left:15%;}
    25%  { width:15%; height:15%;}
    50%  { top:50%; left:50%;}
    75%  { width:15%; height:15%;}
    100% { top:15%; left:15%;}
}
@keyframes ball2 {
    0%   { bottom:15%; right:15%;}
    25%  { height:15%; width:15%;}
    50%  { bottom:50%; right:50%;}
    75%  { height:15%; width:15%;}
    100% { bottom:15%; right:15%;}
}
@keyframes ball3 {
    0%   { top:15%; right:15%;}
    25%  { height:15%; width:15%;}
    50%  { top:50%; right:50%;}
    75%  { height:15%; width:15%;}
    100% { top:15%; right:15%;}
}
@keyframes ball4 {
    0%   { bottom:15%; left:15%;}
    25%  { height:15%; width:15%;}
    50%  { bottom:50%; left:50%;}
    75%  { height:15%; width:15%;}
    100% { bottom:15%; left:15%;}
}

@keyframes spinner {
    0%   { transform:rotate(0deg);}
    25%  { transform:rotate(90deg);}
    50%  { transform:rotate(180deg); border-radius:100%;}
    75%  { transform:rotate(275deg);}
    100% { transform:rotate(360deg);}
}
/* The element to apply the animation to */
.ani_4ballSpin .ball-1 {
	top:0px;
	left:0px;
	border-radius:100%;
    width: 30%;
    height: 30%;
    background-color: #DA4531;
    animation-name: ball1;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    /*animation-timing-function: linear;*/
    box-shadow:0px 0px 1px 0px #DA4531;
}

.ani_4ballSpin .ball-2 {
	bottom:15%;
	right:15%;
	border-radius:100%;
    width: 30%;
    height: 30%;
    background-color: #196EED;
    animation-name: ball2;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    /*animation-timing-function: linear;*/
    box-shadow:0px 0px 1px 0px #196EED;

}

.ani_4ballSpin .ball-3 {
    bottom:0px;
    right:0px;
    border-radius:100%;
    width: 30%;
    height: 30%;
    background-color: #FFB606;
    animation-name: ball3;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    /*animation-timing-function: linear;*/
    box-shadow:0px 0px 1px 0px #FFB606;
}

.ani_4ballSpin .ball-4 {
    bottom:0px;
    left:0px;
    border-radius:100%;
    width: 30%;
    height: 30%;
    background-color: #009B58;
    animation-name: ball4;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    /*animation-timing-function: linear;*/
    box-shadow:0px 0px 1px 0px #000000;
}
